/* Estilos personalizados */

.image-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .image-card:hover {
    transform: scale(1.02);
  }
  
  .image-card img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center;
    font-weight: 500;
  }
  
  footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  